.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee; /* Add this line */
}

.board-row {
  display: flex;
}
/* 
.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
} */

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 33px;
  font-weight: bold;
  line-height: 45px;
  height: 45px;
  width: 45px;
  margin-right: 5px;
}

.status {
  margin-bottom: 10px;
}


.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #212121; /* Updated background color */
  color: white;
  border: none;
  cursor: pointer;
}


.reset-btn:hover {
  background-color: #45a049;
}
